<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nextsoundz">

    <uses-feature
        android:name="android.software.midi"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoteRepeatDialogActivity"
            android:theme="@style/dialog">
            <intent-filter >
            <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            <!-- Accepts URIs that begin with "http://www.blacksquare.com/notrepeat” -->
            <data android:scheme="http"
                android:host="www.blacksquare.com"
                android:pathPrefix="/notrepeat" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.FirebaseMessaging"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LoadDrumSoundDialogActivity"
            android:label="@string/title_activity_load_drum_sound"
            android:theme="@style/dialog" />
        <activity
            android:name=".SettingsDialogActivity"
            android:label="@string/title_activity_load_drum_sound"
            android:theme="@style/dialog" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>